.itemStyle {
  border: solid 1px #ddd;
  .itemImg {
    height: 300px;
  }
  .itemTitle {
    text-align: center;
  }
  .itemDirector {
    text-align: center;
  }
  .itemYear {
    text-align: center;
  }
  .itemGenres {
    text-align: center;
  }
  .itemRating {
    text-align: center;
  }
}